{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header_title %}
    <img src="{{ asset('images/next-talent.png') }}" alt="Logo" onclick="window.location.href='{{ path('app_accueil') }}">
{% endblock %}

{% block content %}
    <div class="content">

        <h2 class="main-title">Choisissez une option :</h2>
        <div class="choice-container">

            <!-- Choix Alternant -->
            <div class="choice-box" onclick="window.location.href='{{ path('app_alternant') }}'">
                <div class="icon-container">
                    <img src="{{ asset('images/etudiant.png') }}" alt="Alternant Icon">
                </div>
                <div class="text-container">
                    <h3>Alternant</h3>
                    <p>Découvrez nos offres pour alternants.</p>
                </div>
            </div>

            <!-- Choix PME -->
            <div class="choice-box" onclick="window.location.href='{{ path('pme_mes_offres') }}'">
                <div class="icon-container">
                    <img src="{{ asset('images/batPme.png') }}" alt="PME Icon">
                </div>
                <div class="text-container">
                    <h3>PME</h3>
                    <p>Explorez nos solutions pour PME.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
